<!--(Header em como para todas as views, contendo a logo e o MENU (Desabilitidado por enquanto))-->
<!--(Para alterar a logo, só alterar o arquivo logomenu.png por outro com o mesmo nome e tamanho)-->
<header>
  <div class="container">
    <div class="logo">
      <a href="http://kitana.copysystems.local" target="_blank">
        <img src="/assets/images/logomenu.png" alt="Logo da Empresa">
      </a>
    </div>
    <nav>
      <!--ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contato</a></li>
      </ul-->
    </nav>
  </div>
</header>